{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        // "namespace": "my-app",
        // "fileName": false,
        // "displayName": false
      }
    ],
    "babel-plugin-macros"
  ]
}
